<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>

    <!-- <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p> -->
    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">
      PhD candidate in Deep Learning at the TU Eindhoven. Intern at Sony AI in 2024.
      <!-- <a href="https://research.tue.nl/en/persons/bram-j-grooten/publications/" target="_blank">TU Eindhoven</a>. -->
      <!-- <a href="https://www.gran-turismo.com/us/gran-turismo-sophy/" target="_blank">Sony AI</a> -->
    </p>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">
      <a href="/assets/pdfs/CV_BramGrooten_Jan2025.pdf" target="_blank">CV.pdf</a>
    </p>

  </div>
</div>