---
---

@import "portfolYOU";

.video-caption {
  text-align: center;
  font-size: 14px;
  color: $secondary;
  margin-top: 8px;
}

strong, b {
  font-weight: 900 !important;
  text-shadow: 0px 0px 0.5px currentColor;
}
